#filter {
  background-color: yellow;
  float: left;
}

#catalog {
  float: left;
  position:relative; 
  left: 50px;
  width: 60%;
  height: 500px;
  border-style: solid;
  overflow: scroll;
  overflow-x: hidden;
}

#divCatalog {
  visibility: hidden;
}

#divLoading {
  position: relative;
  left: 44%;
  top: 38%;
  visibility: hidden;
}

#loadingImg {
  width: 100px;
  height: 100px;
}

#itemList, .infoList {
  list-style: none;
}

.split {
  display: flex;
}

.split.left {
  flex: 1;
}
.split.right {
  flex: 1;
}

#img {
  width:100px;
  height:200px;
}

:root {
  --primary-color: #2D68C4;
  --secondary-color: #F2A900;
}

.navbar {
  background: white;
  padding: 1em;
}

.navbar .logo {
  text-decoration: none;
  font-weight: bold;
  color: var(--primary-color);
  font-size: 1.2em;
}

.navbar .logo span {
  color: var(--secondary-color);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.hero .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: left;
}

.hero .container .left-col {
  margin: 3em 3em 3em 5em;
}

.hero .container .left-col h1 {
  font-size: 1.3em;
  width: 90%;
}

.hero .container .right-col {
  margin: 3em 3em 0 5em;
  position: center;
  font-size: 1.2em;
}

.primary-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: none;
  position: unset;
  height: auto;
  width: 100%;
  padding: .5em .5em;
}

.primary-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.primary-nav a {
  color: blue;
  font-size: 1em;
  padding: .1em 1em;
  text-decoration: none;
}