#listUsers {
  background-color: yellow;
  float: left;
  position: relative;
  border-style: solid;
  overflow: scroll;
  overflow-x: hidden;
  width: 20%;
  height: 600px;
}

#chat {
  float: left;
  position:relative; 
  left: 55px;
  width: 75%;
  height: 550px;
  border-style: solid;
  overflow: scroll;
  overflow-x: hidden;
}

#textbox {
  position:relative;
  left: 55px;
  top: 10px;
  width: 100%; 
}

#message {
  position:relative;
  float: left;
  width: 65%;
}

#send {
  position:relative;
  float: left;
  left: 15px;
  top: 2px;
  width: 8%;
  height: 30px;
}

.itemUsers {
  list-style: none;
}

.split {
  display: flex;
}

.split.left {
  flex: 1;
}

.split.right {
  flex: 1;
}

.textboxLeft {
  float:left;
}

#userImg {
  width: 50px;
  height: 50px;
}

h1 {
  text-align: center;
}

#nav {
  background-color: yellow; 
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

#nav li {
  display: inline-block;
  font-size: 20px;
  padding: 20px;
}

/* Chat containers */
.container {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

/* Darker chat container */
.darker {
  border-color: #ccc;
  background-color: #ddd;
}

/* Clear floats */
.container::after {
  content: "";
  clear: both;
  display: table;
}

/* Style images */
.container img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

/* Style the right image */
.container img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}

/* Style time text */
.time-right {
  float: right;
  color: #aaa;
}

/* Style time text */
.time-left {
  float: left;
  color: #999;
}