:root {
    --primary-color: #2D68C4;
    --secondary-color: #F2A900;
}

body {
    background: #F2F2F2;
    margin:0;
}

.navbar {
    background: white;
    padding:1em;
    
    .logo{
        text-decoration: none;
        font-weight: bold;
        color: var(--primary-color);
        font-size: 1.2em;

        span{
            color:var(--secondary-color);
        }
    }

    nav{
        //display:none; 1:47
    }
}

ul {
    list-style-type: none;
    margin:0;
    padding:0;
}

section {
    padding:5em 2m;
}

.hero{
    text-align:center;
}

.left-col {
    .subhead{
        text-transform: uppercase;
        color:var(--primary-color);
        font-weight: bold;
        letter-spacing: .2em;
        
    }
}

.right-col{
    //background:var(--primary-color);
    color:black;
    font-size: 1.5em;
}

.posts-section{
    margin:0;
    padding-left: .1em;
    li{
        font-size: 1.1em;
        margin-bottom: 1em;
        margin-left: 2em;
    }
}

.primary-nav{
    display: flex;
    justify-content: space-between;
    background:none;
    position: unset;
    height:auto;
    width: 100%;
    //@extend:0;
    padding:.5em .5em;

    ul{
        
        display: flex;
    }
    a{
        color: blue;
        font-size: 1em;
        padding: .1em 1em;
        text-decoration: none;
    }
   
}

.hero .container {
    display:flex;
    justify-content: space-between;
    text-align: left;

    .left-col{
        margin:3em 3em 3em 5em;
        h1{
            font-size: 1.3em;
            width: 90%;
        }
    }

    .right-col{
        margin:3em 3em 0 5em;
        position: center;
        font-size: 1.2em;
       
    }

}

.posts-section{
    margin:3em 3em 0 5em;
    width: 320px;
    padding: 10px;
    border: 5px solid var(--primary-color);
    margin: 2;
}