.itemList, .infoList {
  list-style: none;
}

.split {
  display: flex;
}

.split.left {
  flex: 1;
}
.split.right {
  flex: 1;
}

#wishlist {
  margin: 0 auto;
  width: 75%;
  height: 500px;
  border-style: solid;
  overflow: scroll;
  overflow-x: hidden;
}

#img {
  width:100px;
  height:200px;
}

h1 {
  text-align: center;
}

#nav {
  background-color: yellow; 
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

#nav li {
  display: inline-block;
  font-size: 20px;
  padding: 20px;
}