h1 {
    font-family: "comic-sans";
    font-size: 50px;
    color: #F2A900;
    text-align: center;
}

body {
  font-family: 'Syne', sans-serif; 
  text-align: center;
}

.UCLA{
    color: #2D68C4;
}